@import url('./flaticon.css');
@import url('./cm/lib/codemirror.css');
@import url('./cm/theme/joe.css');
@import url('./cm/addon/dialog/dialog.css');

.wz-view {
  background: transparent;
}

.app-title {
  color: #cbd4d9;
}
  section.ui-header {
    padding: 5px 0 0 0;
  }
    .wz-app-238-view-main .ui-header-brand {
      padding: 14px 0 2px 20px;
    }

div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Barra de la nube Horbito */
.ui-window-content {
  width: 100%;
  height: ~'calc(100% - 51px)';
  background-color: #0d1011;
}

.ui-header {
  height: 40px;
  background-color: #272a31;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
}
  nav.navigation ul.nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    position: relative;
    background-color: #272a31;
    z-index: 5;
    list-style: none;
    display: flex;
    align-items: center;
    /*justify-content: space-around;*/
  }
    nav.navigation ul.nav li.item {
      color: #979da4;
      /*height: 16px;*/
      padding: 0 8px;
    }

    nav.navigation ul.nav li.item:hover {
      color: #49eecc;
      /*border-bottom: 1px solid #49eecc;*/
    }
    
    /* Desplegar menus */
    nav.navigation ul.nav li.menu-file ul.sub-menu-file,
    nav.navigation ul.nav li.menu-edit ul.sub-menu-edit,
    nav.navigation ul.nav li.menu-project ul.sub-menu-project {
      list-style: none;
      padding: 0;
      position: absolute;
      z-index: 2;
      top: 30px;
      background-color: #272a31;
      user-select: none;
    }

      nav.navigation ul.nav li.item ul.sub-menu-file li.item:hover,
      nav.navigation ul.nav li.item ul.sub-menu-edit li.item:hover,
      nav.navigation ul.nav li.item ul.sub-menu-project li.item:hover {
        background-color: #2e3035;
        border-bottom: 0;
      }
      nav.navigation ul.nav li.item ul.sub-menu-file li.item,
      nav.navigation ul.nav li.item ul.sub-menu-edit li.item,
      nav.navigation ul.nav li.item ul.sub-menu-project li.item {
        padding: 5px 15px;
      }
      /* Continuar con el resto de items... */

/* ----------- = ------------ */

/* Reset */
section.container,
section.container div.sidebar,
section.container div.code,
section.container div.code div.tabs-container,
section.container div.code div.tabs-container ul.tabs,
section.container div.code div.tabs-container ul.tabs li.tab,
section.container div.code div.tabs-menu,
section.container div.code div.tabs-menu div.menu,
section.container div.text {
  margin: 0;
  padding: 0;
  border: 0;
}

div.sidebar ul.subItem {
  color: #d2dce2;
  margin: 5px 0;
}
  div.sidebar ul.subItem li.item {
    list-style: none;
    padding: 0 0 0 20px;
    cursor: pointer;
    width: 100%;
  }

    div.sidebar ul.subItem li.selected {
      background-color: #3c4450;
      color: #fff;
    }
    div.sidebar ul.subItem li.item div i {
      margin-right: 5px;
      cursor: pointer;
    }

    div.sidebar ul.subItem li.item div:hover {
      color: #fff;
      cursor: pointer;
    }

i {
  font-family: Flaticon;
  font-style: normal;
}
  i.icon-folder,
  i.icon-file,
  i.icon-menu {
    color: #49eecc;
    font-size: 18px;
  }
    i.icon-menu {
      font-size: 28px;
      border-left: 6px;
      cursor: pointer;
    }

/* Contenedor general */
section.container {
  width: 100%;
  height: ~'calc(100% - 70px)';
  display: flex;
  background-color: #34383e;
  overflow-x: scroll;
}
  
  /* Barra lateral que lista los directorios y archivos */
  section.container div.sidebar {
    color: white;
    width: 20%;
    overflow: auto;
  }

  /* Area de trabajo: Codigo + tabs */
  section.container div.code {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
      background-color: #272a31;
      border-radius: 26px;
  }
  ::-webkit-scrollbar-thumb {
      background-color: rgba(78, 216, 188, .50);
  }
  ::-webkit-scrollbar-corner {
      background: transparent;
  }
    
    /* Contenedor de tabs y menu desplegable */
    section.container div.code div.tabs-container {
      display: flex;
      justify-content: space-between;
      /*box-shadow: 0 1px 1px black;*/
      width: 100%;
      height: 50px;
    }
    
      /* Tabs: grupo */
      section.container div.code div.tabs-container ul.tabs {
        color: white;
        display: flex;
        width: 95%;
      }

      /* Tab: individual */
      section.container div.code div.tabs-container ul.tabs li.tab {
        width: 180px;
        color: #49eecc;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: #34383e;
        position: relative;
      }

        section.container div.code div.tabs-container ul.tabs li.tab i.icon-close {
          position: absolute;
          right: 15px;
          top: 14px;
          color: #979da4;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8px;
        }

        section.container div.code div.tabs-container ul.tabs li.tab i.icon-close:hover {
          color: #e0e2e5;
        }

      section.container div.code div.tabs-container ul.tabs li.tab:hover {
        background-color: #303238;
      }

      section.container div.code div.tabs-container ul.tabs li.tab.on {
        border-top: 2px solid #49eecc;
        background-color: #404551;
      }

    section.container div.code div.tabs-menu {
      background-color: #34383e;
    }
      section.container div.code div.tabs-menu div.menu {
        padding: 8px;
      }

  /* Codemirror */
  section.container div.code div.text {
    height: 100%;
    width: 100%;
    background-color: #3c4450;
    overflow: auto;
  }
    .CodeMirror {
      font-size: 18px;
      height: 416px;
    }
    .CodeMirror *{
      font-family: monospace;
      direction: ltr;
    }
